<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/homeTemp.css">
    <link rel="stylesheet" href="css/icons.css">
    <script src="js/1.7.8/angular.min.js"></script>
    <script src="js/jquery.min.js"></script>
</head>
<body ng-app="hl">
    <header class="header-body" ng-controller="hotels">
        <div class="container">
            <div class="header">
                <div class="header-brand">
                    <a href="#" class="brand">LiteBooky</a>
                    <button class="head-drop-links" onclick="show('header-links')">
                        <i class="material-icons" id="head-down-icon">&#xe313;</i>
                    </button>
                </div>
                <div class="header-links" id="header-links">
                    <a href="login.html">Sign Up/Sign In</a>
                    <a target="_blank" href="blog.html">Blog</a>
                    <a target="_blank" href="team.html">Team</a>
                    <a target="_blank" href="career.html">Career</a>
                    <a target="_blank" href="contactus.html">Contact Us</a>
                </div>
            </div>
            <div class="brand-tagline">
                <h1>Compare. Book . Stay</h1>
            </div>
            <div class="hotel-form">
                <div class="form-fields">
                    <form onsubmit="return check()">
                        <div class="form-group where">
                            <label>Where</label>
                            <input type="text" ng-model="fil" placeholder="Enter-destination or Hotel Name" id="dt">
                        </div>
                        <div class="form-group checkin">
                            <label>Check-in</label>
                            <input type="text" ng-model="fil1" placeholder="Enter Check-in Date" id="dt1">
                        </div>
                        <div class="form-group checkout">
                            <label>Check-out</label>
                            <input type="text" ng-model="fil2" placeholder="Enter Check-out Date" id="dt2">
                        </div>
                        <div class="form-group">
                            <button class="primary-btn" type="submit">Search</button>
                        </div>
                        <div class="place" id="n-place">
                            <ul ng-repeat="x in places|filter:fil">
                                <li>{{ x }}</li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
        <img src="img/home.jpg" height="646px" width="100%">
    </header>
    <main>
            <section class="lbHotels-features main-block">
                    <h2>Why book with LiteBooky?</h2>
                    <div class="features-blk">
                        <div class="ft-hg">
                            <div class="ft-img"><img src="img/ft-img-1.svg"></div>
                            <div class="ft-bold-text">TRUSTED BY OVER 8M+ HAPPY TRAVELLERS</div>
                            <div class="ft-text">Book with one of most trusted travel portals in India</div>
                        </div>
                        <div class="ft-hg">
                            <div class="ft-img"><img src="img/ft-img-2.svg"></div>
                            <div class="ft-bold-text">Lowest Price guarnteee</div>
                            <div class="ft-text">Find a better price on any online travel site, we refund you double the difference amount!</div>
                        </div>
                        <div class="ft-hg">
                            <div class="ft-img"><img src="img/ft-img-3.svg"></div>
                            <div class="ft-bold-text">24X7 CUSTOMER SUPPORT
                            </div>
                            <div class="ft-text">Round the clock support for all your hotel needs</div>
                        </div>
                        <div class="ft-hg">
                            <div class="ft-img"><img src="img/ft-img-4.svg"></div>
                            <div class="ft-bold-text">750000+ VERIFIED TRAVELER REVIEWS
                            </div>
                            <div class="ft-text">Find the hotel that best suits your needs</div>
                        </div>
                    </div>
                </section>
                <section class="cust-reviews">
                    <div class="wrapper">
                        <h3>Customer Reviews</h3>
                        <div class="wrap">
                            <ul class="carousel is-set" id="isSet" style="transform: translateX(0%)">
                                <li class="carousel-seat">
                                    <div class="reviews-block">
                                        <div class="panel-1">
                                            <img class="cust-img" src="team/famous143.jpg">
                                        </div>
                                        <div class="panel-2">
                                            <div class="cust-review"><q>LiteBooky hotels is very easy to use. The whole process of booking a hotel on LiteBooky is so quick and intuitive. Discounts are also higher than other booking websites</q></div>
                                            <div class="cust-info">
                                                <div class="name">
                                                    <p>Madan</p>
                                                    <p>Frequent Traveller</p>
                                                </div>
                                                <div class="book-dt">
                                                    <p>Booked on</p>
                                                    <p>03-Apr-2015</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="carousel-seat">
                                    <div class="reviews-block">
                                        <div class="panel-1">
                                            <img class="cust-img" src="team/ankit.jpg">
                                        </div>
                                        <div class="panel-2">
                                            <div class="cust-review"><q>I travel alone a lot and prefer to check-in anytime. LiteBooky provides a lot of hotels with a 24 hour check-in policy. The website is very refreshing and clean to use. Good job by LiteBooky team</q></div>
                                            <div class="cust-info">
                                                <div class="name">
                                                    <p>Ankit</p>
                                                    <p>Frequent Traveller</p>
                                                </div>
                                                <div class="book-dt">
                                                    <p>Booked on</p>
                                                    <p>27-Nov-2015</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="carousel-seat is-ref">
                                    <div class="reviews-block">
                                        <div class="panel-1">
                                            <img class="cust-img" src="team/nikhil.jpeg">
                                        </div>
                                        <div class="panel-2">
                                            <div class="cust-review"><q>I visited Goa with my friends. We booked our hotel on LiteBooky due to the awesome discount offers. The information on the website is also very helpful and we got exactly what we saw on the website.</q></div>
                                            <div class="cust-info">
                                                <div class="name">
                                                    <p>Nikhil</p>
                                                    <p>Frequent Traveller</p>
                                                </div>
                                                <div class="book-dt">
                                                    <p>Booked on</p>
                                                    <p>05-Feb-2016</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="controls rv" id="rv">
                            <span class="toggle active" data-index="0" onclick="slideRun(this.getAttribute('data-index'))"></span>
                            <span class="toggle" data-index="1" onclick="slideRun(this.getAttribute('data-index'))"></span>
                            <span class="toggle" data-index="2" onclick="slideRun(this.getAttribute('data-index'))"></span>
                        </div>
                    </div>
                </section>
                <section class="lbHotels-profile main-block">
                        <h1>Book Hotels in India - LiteBooky Hotels</h1>
                        <div class="block">
                            <div class="panel-1">
                                <p>LiteBooky has launched platform for India Hotels to make all your travel plans even more 
                                    comfortable! With an inventory of over 20,000+ hotels located across the country, we 
                                    focus in providing best amenities at lowest prices. LiteBooky hotels in India are ideal 
                                    for all your travel plans, with the accommodation suitable for business travel, leisure 
                                    travel, pilgrimage, or during vacation! With a wide variety of options in star, luxury 
                                    and cheap hotels, we are sure that you will find that perfect hotel for an amazing stay! 
                                    Get budget hotels in top destinations in India like Delhi, Bangalore, Hyderabad, Shirdi, 
                                    Tirupati, Goa, and Jaipur! LiteBooky hotels has handpicked cheap hotels with excellent 
                                    amenities in all the tourist destinations in India!</p>
                            </div>
                            <div class="panel-2">
                                <div class="ribbon ribbon-top-left"><span>Special</span></div>
                                <p class="offr-lb"></p><h2>Offer &amp; Coupon Codes on LiteBooky hotel</h2><p></p>
                                <p>Book your hotel while you are on-the-move! Log on to LiteBooky.in/hotels/ and check out our best 
                                    deals! We offer various time to time discounts and deals on 
                                    hotels, helping you to save a little. Make yourself eligible for any offer 
                                    running in our website by just booking your hotel online in just a click! 
                                    Compare and check all our offers while confirm your booking with 
                                    us and stay connected with LiteBooky to get any notification on active 
                                    discounts and offers via newsletter. Save Big Enjoy Trip!</p>
                
                            </div>
                        </div>
                    </section>
                    <section class="top-hotels main-block">
                            <h2>Top Hotel Deals in India</h2>
                            <div class="block fade" id="top_htl_deal">
                    <a class="hotel-details" target="_blank" href="">
                        <img src="img/Niche_Suites_Bengaluru.png">
                        <div class="htn-loc">
                                <span class="truncate" title="Niche Suites Bengaluru">Niche Suites Bengaluru</span>
                                <span>Bangalore</span>
                            </div>
                        <div class="th-info">
                            <div class="htn-loc">
                                <span class="truncate" title="Niche Suites Bengaluru">Niche Suites Bengaluru</span>
                                <span>Bangalore</span>
                            </div>
                            <p class="htl-dtl" title="Niche suites is one of the best hotels in Bangalore ">Niche suites is one of the best hotels in Bangalore </p>
                            <div class="htl-prc">
                                <i class="icon icon-rupeesymbol dib-vm">&#8377;</i>
                                <div class="dib-vm">
                                    <span>1439</span>
                                    <span>per Night</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    
                    <a class="hotel-details" target="_blank" href="">
                        <img src="img/Taj_Mahal_Hotel_hyderabad.png">
                        <div class="htn-loc">
                                <span class="truncate" title="Taj Mahal Hotel">Taj Mahal Hotel</span>
                                <span>Hyderabad</span>
                            </div>
                        <div class="th-info">
                            <div class="htn-loc">
                                <span class="truncate" title="Taj Mahal Hotel">Taj Mahal Hotel</span>
                                <span>Hyderabad</span>
                            </div>
                            <p class="htl-dtl" title="Taj Mahal Hotel was inspired by one of the seven wonders of the world. Guess which one?">Taj Mahal Hotel was inspired by one of the seven wonders of the world. Guess which one?</p>
                            <div class="htl-prc">
                                <i class="icon icon-rupeesymbol dib-vm">&#8377;</i>
                                <div class="dib-vm">
                                    <span>1793</span>
                                    <span>per Night</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    
                    <a class="hotel-details" target="_blank" href="">
                        <img src="img/hotel_rupam_delhi.png">
                        <div class="htn-loc">
                                <span class="truncate" title="Hotel Rupam">Hotel Rupam</span>
                                <span>Delhi</span>
                            </div>
                        <div class="th-info">
                            <div class="htn-loc">
                                <span class="truncate" title="Hotel Rupam">Hotel Rupam</span>
                                <span>Delhi</span>
                            </div>
                            <p class="htl-dtl" title="Hotel Rupam is situated in the heart of the capital of India ">Hotel Rupam is situated in the heart of the capital of India </p>
                            <div class="htl-prc">
                                <i class="icon icon-rupeesymbol dib-vm">&#8377;</i>
                                <div class="dib-vm">
                                    <span>1998</span>
                                    <span>per Night</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    
                    <a class="hotel-details" target="_blank" href="">
                        <img src="img/Hotel_Le_Roi_delhi.png">
                        <div class="htn-loc">
                                <span class="truncate" title="Hotel Le Roi">Hotel Le Roi</span>
                                <span>Delhi</span>
                            </div>
                        <div class="th-info">
                            <div class="htn-loc">
                                <span class="truncate" title="Hotel Le Roi">Hotel Le Roi</span>
                                <span>Delhi</span>
                            </div>
                            <p class="htl-dtl" title="Le Roi provides comfort and luxury at affordable prices. This hotel is situated at one of the best spots in the city ">Le Roi provides comfort and luxury at affordable prices. This hotel is situated at one of the best spots in the city </p>
                            <div class="htl-prc">
                                <i class="icon icon-rupeesymbol dib-vm">&#8377;</i>
                                <div class="dib-vm">
                                    <span>1790</span>
                                    <span>per Night</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    
                    <a class="hotel-details" target="_blank" href="">
                        <img src="img/horizon_residency_hyderabad.png">
                        <div class="htn-loc">
                                <span class="truncate" title="Horizon Residency">Horizon Residency</span>
                                <span>Hyderabad</span>
                            </div>
                        <div class="th-info">
                            <div class="htn-loc">
                                <span class="truncate" title="Horizon Residency">Horizon Residency</span>
                                <span>Hyderabad</span>
                            </div>
                            <p class="htl-dtl" title="Horizon residency offers a comfortable stay at the lowest prices in Hyderabad ">Horizon residency offers a comfortable stay at the lowest prices in Hyderabad </p>
                            <div class="htl-prc">
                                <i class="icon icon-rupeesymbol dib-vm">&#8377;</i>
                                <div class="dib-vm">
                                    <span>1365</span>
                                    <span>per Night</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    </div>
                </section>
                <section class="lb-stats main-block">
                        <h3>Get upto 50% Discount on LiteBooky hotel</h3>
                        <div class="block">
                            <div class="stats">
                                <div class="blk-1">30K +</div>
                                <div class="blk-2">HOTELS PAN<br>INDIA</div>
                            </div>
                            <div class="stats">
                                <div class="blk-1">1000 +</div>
                                <div class="blk-2">CITIES WITH<br>HOTELS</div>
                            </div>
                            <div class="stats">
                                <div class="blk-1">08M +</div>
                                <div class="blk-2">HAPPY LiteBooky<br>CUSTOMERS</div>
                            </div>
                        </div>
                    </section>
    </main>
    <footer>
        <div class="footer_hotels container">
            <div class="footerDestinations__heading">LiteBooky Hotels</div>
            <div class="footerDestinations__cityGrid">
                <a href="#">Hotels near me</a>
                <a href="#">Hotels in Mumbai</a>
                <a href="#">Hotels in Delhi</a>
                <a href="#">Hotels in Jaipur</a>
                <a href="#">Hotels in Manali</a>
                <a href="#">Hotels in Udaipur</a>
                <a href="#">Hotels in Amritsar</a>
                <a href="#">Hotels in Shimla</a>
                <a href="#">Hotels in Goa</a>
                <a href="#">Hotels in Ahmedabad</a>
                <a href="#">Hotels in Kolkata</a>
                <a href="#">Hotels in Shillong</a>
                <a href="#">Hotels in Darjeeling</a>
                <a href="ss1.html">Travel Guide</a>
                <a href="#">All Cities Hotels</a>
                <a href="#">Coupons</a>
            </div>
        </div>
        <div class="footerLinks">
            <div class="footerAppIcons__container">
                <div class="footerAppIcons__topLinks">
                    <div class="footerAppIcons__appsMessage">
                        <span>Download LiteBooky app for exciting offers.</span>
                    </div>
                    <div class="appLinks">
                        <div>
                            <img src="img/footer/googleplay.png" alt="Google Play App Store">
                        </div>
                        <div>
                            <img src="img/footer/applestore.png" alt="Apples Store">
                        </div>
                    </div>
                </div>
                <div class="footerAppIcons__topLinks">
                    <div class="footerAppIcons__secondryLinksContainer">
                        <a href="about.html" target="_blank">About Us</a>
                        <a href="team.html" target="_blank">Teams</a>
                        <a href="blog.html" target="_blank">Blogs</a>
                        <a href="career.html" target="_blank">Careers</a>
                    </div>
                </div>
                <div class="footerAppIcons__topLinks">
                    <div class="footerAppIcons__secondryLinksContainer">
                        <a href="termsadpolicy.html" target="_blank">Terms and conditions</a>
                        <a href="#" target="_blank">Guest Policies</a>
                        <a href="#" target="_blank">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__secondary-wrapper">
            <div class="company-logo">
                <h1>LiteBooky</h1>
            </div>
            <small class="footer__copyright-text">
                Copyright 2019 trivago | All rights reserved.
            </small>
        </div>
    </footer>
    <div class="mBox" id="mBox">
        <div id="alertM"></div>
        <button class="primary-btn" onclick="document.getElementById('mBox').style.display='none';">Ok</button>
    </div>
    <script>
        $(document).ready(function(){
            $("#dt").focusin(function(){
                $("#n-place").show();
                $(".where").css("color","#0ff");
                $("#dt").css("border-color","#0ff");
            });
            $("#n-place ul li").click(function(){
                $("#n-place").hide();
                var x = $(this).text();
                $("#dt").val(x);
            });
        })
    </script>
    <script>
        function slideRun(cs){
            var btnContainer = document.getElementById("rv");
            var btns = btnContainer.getElementsByClassName("toggle");
            for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function() {
                var current = document.getElementsByClassName("active");
                current[0].className = current[0].className.replace(" active", "");
                this.className += " active";
            });
            } 
            var sdi = document.getElementById("isSet");
            if(cs==0){
                sdi.style.transform="translateX(0%)";
            }
            else if(cs==1){
                sdi.style.transform="translateX(-25%)";
            }
            else if(cs==2){
                sdi.style.transform="translateX(-50%)";
            }
            else{
                sdi.style.transform="translateX(0%)";
            }
        }
        function show(x){
            v = document.getElementById(x);
            if(x=='header-links'){
                icon = document.getElementById('head-down-icon');
                if(v.style.display=='block'){
                    v.style.display='none';
                    icon.innerHTML='&#xe313;';
                }
                else{
                    v.style.display='block';
                    icon.innerHTML='&#xe14c;';
                }
            }
        }
        function check(){
            var place = document.getElementById("dt").value;
            var checkin = document.getElementById("dt1").value;
            var checkout = document.getElementById("dt2").value;
            var mb = document.getElementById("mBox");
            var ih = document.getElementById("alertM");
            if(place.length==0){
                mb.style.display="block";
                ih.innerHTML = "Please Select Place";
            }
            else if(checkin.length==0) {
                mb.style.display="block";
                ih.innerHTML = "Please Enter Checkin Date";
            }
            else if(checkout.length==0) {
                mb.style.display="block";
                ih.innerHTML = "Please Enter Checkout Date";
            }
            else{
                //document.getElementsByTagName("form")[0].setAttribute("action", "hotel-result.html");
                var ln = "hotel-result.html?place="+encodeURIComponent(place)+"&checkin="+encodeURIComponent(checkin)+"&checkout="+encodeURIComponent(checkout);
                document.location.href = ln;
            }
        }
    </script>
    <script>
        var App = angular.module("hl",[]);
        App.controller("hotels",["$scope",function(s){
            s.fil;
            s.fil1="04/11/2019";
            s.fil2="05/11/2019";
            s.places=["Rajasthan","Punjab","Delhi","Chandigadh","Haryana","Mumbai",
                        "Uttar Pradesh","Banglore"];
        }])
    </script>
</body>
</html>